.writeCommentArea{
    margin: 4vh 4vw 6vh 4vw;
    display: flex;
    justify-content: start;
}

.commentProfile{
    width: 4vw;
    height: 4vw;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 50%;
    margin-right: 1vw;
    background-color: white;
    overflow: hidden;
}

.commentProfile img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.commentBox{
    resize: none;
    width: 40vw;
    height: 8vh;
    padding: 14px 0 0 18px;
    font-size: 17px;
    border: white;
    border-radius: 15px;
    margin-right: 1.5vw;
    margin-bottom: 3vh;
}

.writeCommentBtn svg{
    margin-top: 1vh;
}

.writtenCommentArea{
    padding: 0vh 0 3vh 0;
}

.writtenCommentArea:last-child{
    padding-bottom: 5vh;
}


.writtenComment{
    border-radius: 15px;
    background-color: white;
    width: 45vw;
    height: auto;
    margin: 0 auto;
    padding: 15px 8px 15px 8px;
}

.writtenCommentUserInfoArea{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1vw;
}

.writtenCommentProfile{
    width: 2vw;
    height: 2vw;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}

.writtenCommentProfile img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.writtenCommentName{
    margin-left: 1vw;
    margin-top: 5px;
    font-weight: 600;
    font-size: 19px;
}

.writtenCommentTime{
    margin-left: 0.5vw;
    margin-top: 5px;
    color: rgb(130, 130, 130);
    font-size: 17px;
}

.writtenCommentReplyBtn{
    margin-left: auto;
    margin-right: 1vw;
    font-size: 17px;
    cursor: pointer;
    color: rgb(80,80,80);
}

.writtenCommentContent{
    font-size: 19px;
    text-align: left;
    margin-left: 4vw;
    margin-right: 4vw;
    padding: 5px 0 3px 0;
}


.replyTextArea{
    display: flex;
    justify-content: center;
    margin: 3vh 0 3vh 0;
}

.replyArrow{
    font-size: 30px;
    color: rgb(80,80,80);
}

.replyBox{
    resize: none;
    width: 38vw;
    height: 7vh;
    padding: 14px 0 0 18px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid white;
    border-radius: 15px;
    margin: 0 1vw 0 1vw;
}

.writeReplyBtn{
    font-size: 25px;
    margin-top: 1vh;
}

.writtenReply{
    border-radius: 15px;
    background-color: #e2d1ca;
    width: 42vw;
    height: auto;
    margin: 2vh auto 0 auto;
    padding: 15px 8px 15px 8px;
}

.writtenReplyUserInfoArea{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1vw;
}

.writtenReplyProfile{
    width: 2vw;
    height: 2vw;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}

.writtenReplyProfile img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.writtenReplyName{
    margin-left: 1vw;
    margin-top: 5px;
    font-weight: 600;
    font-size: 19px;
}

.writtenReplyTime{
    margin-left: 0.5vw;
    margin-top: 5px;
    color: rgb(130, 130, 130);
    font-size: 17px;
}

.writtenReplyContent{
    font-size: 19px;
    text-align: left;
    margin-left: 4vw;
    margin-right: 4vw;
    padding: 5px 0 3px 0;
}

@media (max-width:1600px){
    .writtenCommentName, .writtenReplyName{
        margin-left: 0.8vw;
        font-size: 17px;
    }

    .writtenCommentTime, .writtenReplyTime{
        margin-top: 5.5px;
        font-size: 15px;
    }
    
    .writtenCommentReplyBtn{
        font-size: 15px;
    }

    .writtenCommentContent, .writtenReplyContent{
        font-size: 17px;
    }
}