.divisionLine{
    background-color: rgb(166, 166, 166);
    width: 85%;
    height: 1px;
    margin: 0 auto;

}

.footerArea{
    /* background-color: #ffefe9; */
    height: 60px;
    position: relative;
    transform: translateY(0%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerImg{
    margin-left: 13%;
    margin-top: 6px;
    height: 60px;
    line-height: 60px;
}

.footerImg img{
    width: 80px;
    height: auto;
    
}

.copyright{
    font-size: 13px;
    height: 60px;
    line-height: 60px;
    color: grey;
    margin-right: 13%;
}