.hashtag{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.hashItems{
    border: 1px solid grey;
    border-radius: 20px;
    height: 4vh;
    line-height: 4vh;
    font-size: 15px;
    padding: 0 14px 0 14px;
    margin-right: 1vh;
    margin-bottom: 1vh;
    cursor: pointer;
    font-size: 17px;
}

.clickHashItems{
    border: 1px solid grey;
    border-radius: 20px;
    height: 4vh;
    line-height: 4vh;
    font-size: 15px;
    padding: 0 14px 0 14px;
    margin-right: 1vh;
    margin-bottom: 1vh;
    cursor: pointer;
    background-color: #ffefe9;
    font-size: 17px;
}

@media (max-width:1600px){
    .hashItems, .clickHashItems{
        font-size: 16px;
    }
}