.navbar{
    display: flex;
    border-bottom: 1px solid rgb(210, 210, 210);
    height: 65px;
}

.imgArea{
    width: 25vw;
    padding-right: 5vw;
}

.navbar img{
    flex-basis: 50px;
    height: 35px;
    width: 35px;
    margin: 15px 0 14px 0;
    cursor: pointer;
}

.navUl{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50vw;
}

.navLi{
    flex-basis: 8vw;
    margin-left: 1vw;
    margin-right: 1vw;
    align-self: center;
    font-size: 21px;
    list-style: none;
    font-weight: 600;
    color: rgb(60, 60, 60);
    cursor: pointer;
    height: 65px;
    line-height: 65px;
}

.navLi:nth-child(1){
    margin-left: 7vw;
}

.navLi:not(:last-of-type):hover{
    height: 59px;
    border-bottom: 7px solid #ed754c;
    cursor: default;
}

.dropdownUl{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: #ead7d2;
    width: 40vw;
    height: 50px;
    margin-left: 29vw;
    padding: 0;
    z-index: 1;
}

.dropdownLi{
    width: 9vw;
    justify-content: center;
    align-self: center;
    font-size: 18px;
    list-style: none;
    line-height: 50px;
    color: rgb(60, 60, 60);
    cursor: pointer;
    display: flex;
    margin-right: 0px;
}

.dropdownLi:nth-child(1){
    margin-left: 4vw;
}

.dropdownLi:nth-child(3){
    margin-right: 4vw;
    
}

.loginArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: space-evenly;
    width: 25vw;
}

.loginItem{
    flex-basis: 80px;
    align-self: center;
    font-size: 17px;
    list-style: none;
    color: rgb(95, 95, 95);
    cursor: pointer;
}

.loginItem:nth-child(2){
    margin-right: 7vw;
}

@media (max-width:1600px){
    .navbar{
        height: 55px;
    }
  
    .navbar img{
        height: 30px;
        width: 30px;
        margin-top: 13px;
    }

    .navLi{
        flex-basis: 9vw;
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: 18px;
        height: 55px;
        line-height: 55px;
    }

    .navLi:nth-child(1){
        margin-left: 5vw;
    }
    
    .navLi:not(:last-of-type):hover{
        height: 49px;
    }

    .dropdownUl{
        margin-left: 29vw;
    }
    .dropdownLi{
        font-size: 16px;
    }

    .loginItem{
        font-size: 16px;
    }
  }