.navbar{
    display: flex;
    border-bottom: 1px solid rgb(210, 210, 210);
    height: 60px;
}

.imgArea{
    width: 50vh;
    padding-right: 9vh;
}

.navbar img{
    flex-basis: 50px;
    height: 30px;
    width: 30px;
    margin: 15px 0 14px 0;
    cursor: pointer;
}

.navUl{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60vh;
}

.navLi{
    flex-basis: 140px;
    align-self: center;
    font-size: 18px;
    list-style: none;
    font-weight: 600;
    color: rgb(60, 60, 60);
    cursor: pointer;
    height: 60px;
    line-height: 60px;
}

.navLi:not(:last-of-type):hover{
    height: 53px;
    border-bottom: 7px solid #ed754c;
    cursor: default;
}

.dropdownUl{
    position: absolute;
    display: inline-block;
    background-color: #ead7d2;
    width: 70vh;
    height: 45px;
    margin-left: -35vh;
    padding: 0;
    z-index: 1;
}

.dropdownLi{
    font-size: 16px;
    list-style: none;
    line-height: 45px;
    color: rgb(60, 60, 60);
    cursor: pointer;
    float: left;
    text-align: center;
    cursor: pointer;
}

.dropdownLi:nth-child(1){
    margin-left: 7vh;
    width: 18vh;
}

.dropdownLi:nth-child(2){
    width: 18vh;
}

.dropdownLi:nth-child(3){
    margin-right: 7vh;
    width: 18vh;
    
}

.loginArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: space-evenly;
    width: 40vh;
    margin-right: 10vh;

}

.loginItem{
    flex-basis: 80px;
    align-self: center;
    font-size: 15px;
    list-style: none;
    color: rgb(95, 95, 95);
    cursor: pointer;
}
