.selectedHashTag{
    color: rgb(0, 140, 255);
    display: flex;
    font-size: 21px;
    font-weight: 500;
    text-align: left;
    margin: 0 23vw 5vh 23vw;
}

.selectedHashTagItem{
    margin-right: 1vw;
    cursor: pointer;
}

.UpdateToS, .UpdateToUS{
    background-color: rgb(224, 244, 224);
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 15px;
    width: 57vw;
    height: 6vh;
    line-height: 6vh;
    margin: 0 auto 5vh auto;
    cursor: pointer;
}

.UpdateToUS{
    background-color: rgb(249, 226, 225);
}

.stateUpdateContent{
    text-align: left;
    width: 44vw;
    font-size: 19px;
    font-weight: 500;
    margin-left: 3vw;
    color: rgb(80,80,80);
}

.stateUpdateIcon{
    color: rgb(80, 80, 80);
}

.stateUpdateIcon svg{
    margin-top: 1.5vh;
}

.stateUpdateText{
    font-size: 22px;
    font-weight: 600;
    margin-right: 3vw;
    color: rgb(80, 80, 80);
}

@media (max-width:1600px){
    .selectedHashTag{
        font-size: 19px;
    }

    .stateUpdateContent{
        font-size: 17px;
    }

    .stateUpdateText{
        font-size: 19px;
    }
}