.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 15vh;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  ul.pagination li a {
    text-decoration: none;
    color: #474747;
    font-size: 1rem;
  }
  
  ul.pagination li.active a {
    color: #e86539;
    font-weight: 500;
  }

  

  .questionListArea{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 120vh;
    margin: 0 auto 5vh auto;
}

.listTitle{
    border-bottom: 2px solid black;
    width: 120vh;
    height: 6vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listTitleItems{
    flex-basis: 100px;
    align-self: center;
    height: 6vh;
    line-height: 6vh;
    font-size: 18px;
    font-weight: 700;
}

.listTitleItems:nth-child(1){
    margin-left: 10vh;
}

.listTitleItems:nth-child(3){
    margin-right: 10vh;
}

.listContent{
    width: 120vh;
    height: 6vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(160, 160, 160);
    cursor: pointer;
}

.listContent:hover{
    font-weight: 500;
}

.listContentItems{
    align-self: center;
    height: 6vh;
    line-height: 6vh;
    font-size: 16px;
}

.listContentItems:nth-child(1){
    flex-basis: 80px;
    margin-left: 11vh;

}

.listContentItems:nth-child(2){
    flex-basis: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listContentItems:nth-child(3){
    flex-basis: 80px;
    margin-right: 11vh;
}