.userFuncArea{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.total{
    text-align: left;
    margin: 3vh 0 0 18.5vw;
    font-size: 23px;
    font-weight: 600;
}

.writingBtn{
    float: right;
    background-color: #ffd0bf;
    color: rgb(60, 60, 60);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 18.5vw 2vh 0;
}

.writingBtn:hover{
    background-color: #ffd0bf;
}

.writingBtn svg{
    margin: 12.5px 0 0 1px;
}



.questionListArea{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 66vw;
    margin: 0 auto 5vh auto;
}

.questionListTitle{
    border-bottom: 2px solid black;
    width: 66vw;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.questionListTitleItems{
    flex-basis: 100px;
    height: 6vh;
    line-height: 6vh;
    font-size: 20px;
    font-weight: 700;
}

.questionListTitleItems:nth-child(1){
    margin-left: 4vw;
}

.questionListTitleItems:nth-child(2){
    flex-basis: 450px;
    margin-left: 2vw;
}

.questionListTitleItems:nth-child(4){
    margin-right: 4vw;
}

.questionListContent{
    font-size: 18px;
    width: 66vw;
    height: 6vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(160, 160, 160);
    cursor: pointer;
}

.questionListContent:hover{
    font-weight: 500;
}

.questionListContentItems{
    align-self: center;
    height: 6vh;
    line-height: 6vh;
}

.questionListContentItems:nth-child(1){
    flex-basis: 80px;
    margin-left: 4.6vw;

}

.questionListContentItems:nth-child(2){
    flex-basis: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.questionListContentItems:nth-child(4){
    flex-basis: 80px;
    margin-right: 4.7vw;
    color: rgb(0, 137, 34);
}


.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}
  
ul {
    list-style: none;
    padding: 0;
}
  
ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

ul.pagination li a {
    text-decoration: none;
    color: #474747;
    font-size: 1rem;
}
  
ul.pagination li.active a {
    color: #e86539;
    font-weight: 500;
}

@media (max-width:1600px){
    .total{
        font-size: 20px;
    }

    .questionListTitleItems{
        font-size: 18px;
    }

    .questionListContent{
        font-size: 16px;
    }

    .questionListArea, .questionListTitle, .questionListContent{
        width: 68vw;
    }
}