.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 15vh;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  ul.pagination li a {
    text-decoration: none;
    color: #474747;
    font-size: 1rem;
  }
  
  ul.pagination li.active a {
    color: #e86539;
    font-weight: 500;
  }
