.searchContainer{
    height: 7vh;
    line-height: 7vh;
    position: relative;
}

.searchInput{
    position :relative;
    float: left;
    width: 21vw;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #7b7b7b;
    margin: 1vh 0 0 18.5vw;
    padding-left: 23px;
    font-size: 15px;
}

.searchButton{
    z-index: 1;
    position: absolute;
    width: 5vw;
    min-width: 70px;
    max-width: 90px;
    height: 45.63px;
    font-size: 15px;
    font-weight: 600;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    background-color: #e3a18b;
    border: 2px solid #7b7b7b;
    top: 1vh;
    left: 38vw;
    cursor: pointer;
}

@media (max-width:1600px){
    .searchInput{
        width: 25vw;
    }

    .searchButton{
        width: 6vw;
    }

    .searchButton{
        left: 40vw;
    }
}