.searchContainer{
    height: 7vh;
    line-height: 7vh;
    position: relative;
}

.searchInput{
    position :relative;
    float: left;
    width: 380px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #7b7b7b;
    margin: 1vh 0 0 30vh;
    padding-left: 3vh;
    font-size: 15px;
}

.searchButton{
    z-index: 1;
    position: absolute;
    width: 80px;
    height: 45.63px;
    font-size: 15px;
    font-weight: 600;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    background-color: #e3a18b;
    border: 2px solid #7b7b7b;
    top: 1vh;
    left: 74vh;
    cursor: pointer;
}