.adminTitleArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10vh auto 0 auto;
    width: 55vw;
}

.adminTitle{
    width: 10vw;
    font-size: 30px;
    font-weight: 700;
}

.totalUser{
    width: 5vw;
    font-size: 22px;
    font-weight: 600;
    color: rgb(80,80,80);
    margin-left: -10vw;
}

.userIcon{
    margin-right: 0.5vw;
    font-size: 17px;
    color: rgb(80,80,80);
}

.usersListArea{
    width: 60vw;
    margin: 3vh auto 5vh auto;
}

.usersListContent{
    border: 1px solid gray;
    border-bottom: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    height: 6vh;
    cursor: pointer;
}

.usersListContent:last-child{
    border-bottom: 1px solid gray;
}

.usersListContent:hover{
    background-color: rgb(240, 240, 240);
}

.deleteUserBtn{
    color: rgb(181, 0, 0);
}


@media (max-width:1600px){
    .adminTitle{
        font-size: 28px;
    }

    .totalUser{
        font-size: 20px;
        margin-left: -3vw;
    }

    .usersListContent{
        font-size: 16px;
    }
}