.textArea{
    margin: 10vh 0 10vh 18vw;
}

.freeTitle{
    text-align: left;
    font-size: 30px;
    font-weight: 800;
    color: rgb(50, 50, 50);
    margin-bottom: 1vh;
}

.freeContent{
    text-align: left;
    font-size: 20px;
    color: rgb(120, 120, 120);
}

@media (max-width:1600px){
    .freeTitle{
        font-size: 27px;
    }

    .freeContent{
        font-size: 17px;
    }
}