.galleryUploadArea{
    background-color: rgb(245, 245, 245);
}

.galleryUploadWrap{
    background-color: white;
    margin-left: 10vw;
    margin-right: 10vw;
}

.galleryUploadTitle{
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    color: rgb(50, 50, 50);
    margin: 0 13vw 0 13vw;
    padding: 8vh 0 1.5vh 2vw;
    border-bottom: 4px solid rgb(200, 200, 200);
}

.titleArea{
    margin: 6vh 13vw 0 13vw;
}

.inputText{
    text-align: left;
    font-size: 21px;
    color: rgb(70, 70, 70);
    font-weight: 600;
    margin: 0 0 1vh 3vw;
}

.inputBox{
    width: 47vw;
    height: 5vh;
    padding-left: 10px;
    font-size: 17px;
}

.uploadFileArea{
    margin: 6vh 13vw 0 13vw;
}  

.uploadFileTitle{
    text-align: left;
    font-size: 21px;
    color: rgb(70, 70, 70);
    font-weight: 600;
    margin: 0 0 0.6vh 3vw;
}

.uploadFileContent{
    text-align: left;
    font-size: 17px;
    color: rgb(120, 120, 120);
    margin: 0 0 1vh 3vw;
}

.btnArea{
    margin: 6vh 13vw 0vh 13vw;
    padding-bottom: 10vh;
    display: flex;
    justify-content: end;
}

.cancelBtn{
    background-color: rgb(210, 210, 210);
    width: 80px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.uploadBtn{
    background-color: #ffa384;
    width: 80px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5vh;
}

@media (max-width:1600px){
    .galleryUploadTitle{
        font-size: 24px;
    }

    .inputText, .uploadFileTitle{
        font-size: 18px;
    }

    .uploadFileContent{
        font-size: 16px;
    }
}