.galleryFilesImgArea{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10vh 0 4vh 0;
}

.galleryFilesImg{
    border: 5px solid rgb(190, 190, 190);
    border-radius: 10px;
    width: 50vw;
    height: 30vw;
}

.galleryFilesImg img{
    width: 50vw;
    height: 30vw;
    object-fit: contain;
}

.leftArrow{
    margin-right: 5vw;
}

.rightArrow{
    margin-left: 5vw;
}

.galleryFilesInfoArea{
    display: flex;
    justify-content: space-around;
}

.galleryInfoContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin : 0 0 10vh 14vw;
}

.galleryInfoTitle{
    font-size: 32px;
    font-weight: 700;
    color: rgb(60, 60, 60);
    margin-bottom: 1vh;
}

.galleryInfoSub{
    display: flex;
}

.galleryInfoName, .galleryInfoDot, .galleryInfoDate{
    font-size: 22px;
    color: rgb(100, 100, 100);
    margin-right: 0.5vw;
}

.galleryInfoDot svg{
    margin-top: 0.5vh;
}

.galleryInfoLike{
    margin-right: 15vw;
}

.likeBtn{
    color: rgb(60, 60, 60);
    cursor: pointer;
}

.likeNum{
    color: rgb(60, 60, 60);
    font-weight: 500;
}


.galleryCommentWrap{
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    width: 60vw;
    margin: 0 auto 10vh auto;
}

.galleryCommentTitleArea{
    display: flex;
    padding: 4vh 0 0 4vw;
}

.commentIcon{
    color: rgb(60, 60, 60);
    margin-right: 1vw;
}

.commentIcon svg{
    margin-top: 0.3vh;
}

.galleryCommentTitle{
    font-size: 28px;
    font-weight: 700;
    margin-right: 0.5vw;
}

.galleryCommentNum{
    font-size: 28px;
    font-weight: 700;
}

.writeGalleryCommentArea{
    margin: 4vh 4vw 6vh 4vw;
    display: flex;
    justify-content: start;
}

.galleryCommentMyProfile{
    width: 4vw;
    height: 4vw;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 40px;
    margin-right: 1vw;
    background-color: white;
}

.galleryCommentMyProfile img{
    width: 4vw;
    height: 4vw;
    object-fit: cover;
}

.galleryCommentBox{
    resize: none;
    width: 40vw;
    height: 8vh;
    padding: 14px 0 0 18px;
    font-size: 17px;
    border-radius: 15px;
    border: 1px solid rgb(140, 140, 140);
    margin-right: 1.5vw;
}

.writeGalleryCommentBtn svg{
    color: rgb(60, 60, 60);
    margin-top: 1vh;
    cursor: pointer;
}

.galleryWrittenCommentArea{
    padding: 0vh 0 3vh 0;
}

.galleryWrittenCommentArea:last-child{
    padding-bottom: 5vh;
}

.galleryWrittenComment{
    border: 1px solid rgb(140, 140, 140);
    border-radius: 15px;
    background-color: white;
    width: 45vw;
    height: auto;
    margin: 0 auto;
    padding: 15px 8px 15px 8px;
}

.galleryWrittenCommentInfoArea{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1vw;
}

.galleryWrittenCommentProfile{
    width: 2vw;
    height: 2vw;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 40px;
    background-color: white;
}

.galleryWrittenCommentProfile img{
    width: 2vw;
    height: 2vw;
    object-fit: cover;
}

.galleryWrittenCommentName {
    margin-left: 0.5vw;
    margin-top: 5px;
    font-weight: 600;
    font-size: 19px;
}

.galleryWrittenCommentTime{
    margin-left: 0.5vw;
    margin-top: 5px;
    color: rgb(130, 130, 130);
    font-size: 17px;
}

.galleryWrittenCommenComOfCom{
    margin-left: auto;
    margin-right: 1vw;
    font-size: 17px;
    cursor: pointer;
}

.galleryWrittenCommentContent{
    font-size: 19px;
    text-align: left;
    margin-left: 4vw;
    padding: 5px 0 3px 0;
}

@media (max-width:1600px){
    .galleryInfoContent{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin : 0 0 10vh 15vw;
    }
    
    .galleryInfoTitle{
        font-size: 28px;
        font-weight: 700;
        color: rgb(60, 60, 60);
        margin-bottom: 1vh;
    }

    .galleryInfoName, .galleryInfoDot, .galleryInfoDate{
        font-size: 19px;
        color: rgb(100, 100, 100);
        margin-right: 0.5vw;
    }

    .galleryInfoLike{
        margin-right: 16vw;
    }
}