.loginArea{
    background-color: #ffefe9;
    border-radius: 20px;
    width: 27vw;
    height: 55vh;
    margin: 13vh auto 0 auto;
}

.textArea{
    text-align: left;
    padding: 7vh 0 5vh 4vw;
}

.loginInKo{
    display: inline-block;
    font-size: 28px;
    color: rgb(70, 70, 70);
    font-weight: 800;
}

.loginInEng{
    display: inline-block;
    font-size: 20px;
    color: rgb(120, 120, 120);
    margin-left: 5px;
}

.vertical{
    display: inline-block;
    font-size: 25px;
    color: rgb(140, 140, 140);
    margin-left: 15px;
}

.inputText{
    text-align: left;
    font-size: 19px;
    color: rgb(70, 70, 70);
    font-weight: 500;
    margin-left: 4vw;
}

.inputBox{
    border-radius: 7px;
    border: none;
    width: 18.5vw;
    font-size: 15px;
    padding: 13px 11px 13px 11px;
    margin: 2vh 0 4vh 0;
}

.loginBtn{
    border-radius: 25px;
    width: 16vw;
    height: 5vh;
    line-height: 5vh;
    margin: 2vh auto 0 auto;
}

.shortcut{
    display: inline-block;
    font-size: 15px;
    color: rgb(60, 60, 60);
    cursor: pointer;
    margin: 3vh auto 11vh auto;
}

@media (max-width:1600px){
    .loginArea{
        width: 30vw;
        height: 57vh;
    }
    
    .inputBox{
        width: 21vw;
    }
}