.loginArea{
    background-color: #ffefe9;
    border-radius: 20px;
    width: 30%;
    height: 490px;
    margin: 7% auto 0 auto;
}

.textArea{
    text-align: left;
    padding: 13% 0 15% 15%;
}

.loginInKo{
    display: inline-block;
    font-size: 28px;
    color: rgb(70, 70, 70);
    font-weight: 800;
}

.loginInEng{
    display: inline-block;
    font-size: 20px;
    color: rgb(120, 120, 120);
    margin-left: 5px;
}

.vertical{
    display: inline-block;
    font-size: 25px;
    color: rgb(140, 140, 140);
    margin-left: 15px;
}

.inputText{
    text-align: left;
    font-size: 20px;
    color: rgb(70, 70, 70);
    font-weight: 400;
    margin-left: 14%;
}

.inputBox{
    border-radius: 7px;
    border: none;
    width: 70%;
    font-size: 15px;
    padding: 13px 11px 13px 11px;
    margin: 10px 0 30px 0;
}

.loginBtn{
    border-radius: 25px;
    width: 60%;
    height: 8%;
    line-height: 40px;
    margin: 9% auto 10% auto;
}

.shortcut{
    display: inline-block;
    font-size: 15px;
    color: rgb(60, 60, 60);
    cursor: pointer;
    margin: 2% auto 6% auto;
}