.basicInfoArea{
    width: 50vw;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    margin: 10vh auto 5vh auto;
    padding: 4vh 7vw 4vh 7vw;
    display: flex;
}

.editProfileImg{
    border-right: 1px solid rgb(200, 200, 200);
    padding: 3vh 8vw 3vh 0;
}

.editProfileImg Img{
    border-radius: 50%;
    border: 2px solid rgb(210, 210, 210);
    width: 12vw;
    height: 12vw;
    object-fit: contain;
}

.basicInfo{
    padding-left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameArea, .classNumArea, .emailArea{
    display: flex;
}

.nameArea, .classNumArea{
    margin-bottom: 4vh;
}

.basicInfoItemsText{
    font-size: 27px;
    font-weight: 700;
    text-align: left;
    width: 9vw;
    color: rgb(80,80,80);
}

.basicInfoItemsContent{
    font-size: 25px;
    text-align: left;
    width: 13vw;
    color: rgb(80,80,80);
    overflow-wrap: break-word;
}


.editInfoArea{
    width: 48vw;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    margin: 0 auto 5vh auto;
    padding: 4vh 8vw 4vh 8vw;
}

.editPwArea, .editConfirmPwArea, .editBirthArea, .editSelfIntroArea, .editGithubArea, .editLinkArea{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 4vh 0 5vh 0;
}

.editInfoItemsText{
    height: 6vh;
    line-height: 6vh;
    font-size: 27px;
    font-weight: 700;
    text-align: left;
    width: 15vw;
    color: rgb(80,80,80);
}

.editInfoItemsContent{
    text-align: left;
    width: 30vw;
    color: rgb(80,80,80);
}

.editPwBox, .editConfirmPwBox, .editBirthBox{
    width: 15vw;
    height: 3.5vh;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0.8vh 1vw;
    font-size: 22px;
}

.editSelfIntroBox{
    resize: none;
    width: 28vw;
    height: 10vh;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1.8vh 1vw;
    font-size: 22px;
}

.editGithubBox, .editLinkBox{
    width: 23vw;
    height: 3.5vh;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0.8vh 1vw;
    font-size: 22px;
}

.saveBtn{
    background-color: #ffd0bf;
    font-size: 20px;
    width: 100px;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0 10vh 75vw;
}

@media(max-width:1600px){

}