.signupArea{
    background-color: #ffefe9;
    border-radius: 20px;
    width: 90vh;
    height: 90vh;
    margin: 13vh auto 13vh auto;
}

.textArea{
    text-align: left;
    padding: 9vh 0 9vh 11vh;
}

.signupInKo{
    display: inline-block;
    font-size: 28px;
    color: rgb(70, 70, 70);
    font-weight: 800;
}

.signupInEng{
    display: inline-block;
    font-size: 20px;
    color: rgb(120, 120, 120);
    margin-left: 5px;
}

.vertical{
    display: inline-block;
    font-size: 25px;
    color: rgb(140, 140, 140);
    margin-left: 15px;
}

.emailArea{
    height: 6.5vh;
}

.emailContent{
    float: right;
}

.emailInputBox{
    float: left;
    border-radius: 7px;
    border: none;
    width: 200px;
    font-size: 15px;
    padding: 13px 11px 13px 11px;
    margin-right: 3vh;
}

.dupBtn{
    float: right;
    background-color: #ffd0bf;
    width: 90px;
    height: 37px;
    line-height: 37px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
    font-size: 15px;
    margin-right: 11vh;
    cursor: pointer;
}

.pwArea{
    height: 6.5vh;
}

.confirmPwArea{
    height: 6.5vh;
}

.nameArea{
    height: 6.5vh;
}

.classNumArea{
    height: 6.5vh;
}

.inputText{
    float: left;
    width: 15vh;
    text-align: left;
    font-size: 19px;
    color: rgb(70, 70, 70);
    font-weight: 500;
    line-height: 40px;
    margin-left: 11vh;
}

.inputBox{
    float: right;
    border-radius: 7px;
    border: none;
    width: 320px;
    font-size: 15px;
    padding: 13px 11px 13px 11px;
    margin-right: 11vh;
    
}

.errorMessage{
    text-align: left;
    height: 4vh;
    color: rgb(182, 0, 0);
    font-size: 14px;
    margin-left: 39vh;
}

.signupBtn{
    border-radius: 25px;
    width: 40vh;
    height: 5vh;
    line-height: 5vh;
    margin: 4vh auto 0 auto;
}
