.writePostArea{
    background-color: rgb(245, 245, 245);
}

.writePostWrap{
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
}

.writePostTitle{
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    color: rgb(50, 50, 50);
    margin: 0 150px 0 150px;
    padding: 8vh 0 1.5vh 3vh;
    border-bottom: 4px solid rgb(200, 200, 200);
}

.selectBoard{
    display: flex;
    justify-content: center;
}

.boardList{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-align: center;
    margin-top: 3vh;
    cursor: pointer;
}

.boardList:not(:nth-child(3)){
    margin-right: 15vh;
}

.checkboxIcon{
    margin-right: 10px;
    color: rgb(100, 100, 100);
    
}

.boardListText{
    font-size: 18px;
    font-weight: 500;
    color: rgb(50, 50, 50);
}

.titleArea{
    margin: 6vh 20vh 0 20vh;
}

.inputText{
    text-align: left;
    font-size: 19px;
    color: rgb(70, 70, 70);
    font-weight: 600;
    margin: 0 0 1vh 5vh;
}

.inputBox{
    width: 86vh;
    height: 5vh;
    padding-left: 10px;
    font-size: 15px;
}

.contentArea{
    margin: 10vh 20vh 0 20vh;
}

.textareaText{
    text-align: left;
    font-size: 19px;
    color: rgb(70, 70, 70);
    font-weight: 600;
    margin: 0 0 1vh 5vh;
}

.textareaBox{
    resize: none;
    width: 86vh;
    height: 30vh;
    padding: 12px 0 0 12px;
    font-size: 15px;
}

.uploadPicArea{
    margin: 6vh 19vh 0 19vh;
}  

.uploadPicTitle{
    text-align: left;
    font-size: 19px;
    color: rgb(70, 70, 70);
    font-weight: 600;
    margin: 0 0 0.6vh 5vh;
}

.uploadPicContent{
    text-align: left;
    font-size: 15px;
    color: rgb(120, 120, 120);
    margin: 0 0 1vh 5.1vh;
}

.selectPicArea{
    display: flex;
}

.selectingPicBox{
    background-color: rgb(220, 220, 220);
    width: 140px;
    height: 140px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vh 3vh 0 5vh;
}

.selectingPicBox svg{
    color: rgb(100, 100, 100);
}

.selectedPicArea{
    display: flex;
    margin-top: 4vh;
}

.selectedPicBoxContainer{
    display: flex;
}

.selectedPicBox{
    width: 140px;
    height: 140px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 15px;
    /* margin-right: 10px; */
}

.selectedPicBox:not(:nth-child(3)){
    margin-right: 10px;
}

.selectedPicBox img{
    width: 140px;
    height: 140px;
    border-radius: 15px;
}

.leftArrow{
    color: rgb(100, 100, 100);
    align-self: center;
    margin-right: 1vh;
}

.rightArrow{
    color: rgb(100, 100, 100);
    align-self: center;
    margin-left: 1vh;
}

.hashtagArea{
    margin: 6vh 20vh 7vh 20vh;
}

.hashtagTitle{
    text-align: left;
    font-size: 19px;
    color: rgb(70, 70, 70);
    font-weight: 600;
    margin: 0 0 0.6vh 5vh;
}

.hashtag{
    margin: 3vh 0 0 5vh;

}

.btnArea{
    margin: 6vh 20vh 0vh 20vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: end;
}

.cancelBtn{
    background-color: rgb(210, 210, 210);
    width: 80px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.uploadBtn{
    background-color: #ffa384;
    width: 80px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5vh;
}